<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <!-- 1. Solves SQLite error of "Unable to find the requested .Net Framework Data Provider."-->
      <provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />

      <!-- 2. Solves SQLite error of "Unable to find the requested .Net Framework Data Provider."-->
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
          description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="log4net.Config" value="log4net.config" />
    <add key="emulators.higan.path" value="E:\Emulators\Nintendo\SNES\higan_v094-64bit\higan.exe" />
    <add key="emulators.fusion.path" value="E:\Emulators\Sega\Fusion364\Fusion.exe" />
    <add key="emulators.nestopia.path" value="E:\Emulators\Nintendo\NES\nestopiaue\nestopia.exe" />
    <add key="emulators.mednafen.path" value="E:\Emulators\MedGui Reborn\Mednafen\mednafen.exe" />
    <add key="emulators.gambatte.path" value="E:\Emulators\Nintendo\Game Boy\gambatte\Gambatte_r550_Windows.exe" />
    <add key="emulators.project64.path" value="C:\Program Files (x86)\Project64 2.2\Project64.exe" />
    <add key="emulators.mame.path" value="E:\Emulators\Arcade\Mame\mamepui64.exe" />
    <add key="emulators.stella.path" value="E:\Emulators\Atari\2600\Stella\Stella.exe" />
    <add key="emulators.retro_arch.path" value="E:\Emulators\Multi\RetroArch\retroarch.exe" />
    <add key="split.megadrive.library" value="E:\Emulators\Sega\Megadrive\Roms" />
    <add key="split.mastersystem.library" value="E:\Emulators\Sega\Master System\Roms" />
    <add key="split.gamegear.library" value="E:\Emulators\Sega\Game Gear\Roms" />
    <add key="split.famicom.library" value="E:\Emulators\Nintendo\NES\Roms" />
    <add key="split.gba.library" value="E:\Emulators\Nintendo\Game Boy Advance\Roms" />
    <add key="split.gb.library" value="E:\Emulators\Nintendo\Game Boy\Roms" />
    <add key="split.gbc.library" value="E:\Emulators\Nintendo\Game Boy Color\Roms" />
    <add key="split.nintendo64.library" value="E:\Emulators\Nintendo\Nintendo 64\Roms" />
    <add key="split.superfamicom.library" value="E:\Emulators\Nintendo\SNES\Roms;E:\Emulators\Nintendo\SNES\Translations;E:\Emulators\Nintendo\SNES\Satellaview" />
    <add key="split.2600.library" value="E:\Emulators\Atari\2600\Roms" />
    <add key="split.psx.library" value="E:\Emulators\Sony\PS1\isos" />
    <add key="mame.all.library" value="E:\Emulators\Arcade\Mame\roms" />
    <add key="higan.superfamicom.library" value="E:\Emulators\Nintendo\SNES\higan_v094-64bit\_HiganLibrary\Super Famicom\" />
    <add key="higan.famicom.library" value="E:\Emulators\Nintendo\SNES\higan_v094-64bit\_HiganLibrary\Famicom" />
    <add key="libretro.cores.bsnes.dll" value="E:\Emulators\Multi\RetroArch\cores\bsnes_balanced_libretro.dll" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="GamesCacheEntities" connectionString="metadata=res://*/GameCache.csdl|res://*/GameCache.ssdl|res://*/GameCache.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=C:\Users\Damaki\Code\clean-emulator-frontend\SQLiteCache\GamesCache.dblite&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>