<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="emulators.higan.path" value="E:\Emulators\Nintendo\SNES\higan_v094-64bit\higan.exe"/>
    <add key="emulators.higan.library" value="E:\Emulators\Nintendo\SNES\higan_v094-64bit\_HiganDatParser"/>
  </appSettings>
</configuration>
