<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="emulators.higan.path" value="E:\Emulators\Nintendo\SNES\higan_v094-64bit\higan.exe"/>
    <add key="emulators.fusion.path" value="E:\Emulators\Sega\Fusion364\Fusion.exe"/>
    <add key="emulators.nestopia.path" value="E:\Emulators\Nintendo\NES\nestopiaue\nestopia.exe"/>
    <add key="emulators.mednafen.path" value="E:\Emulators\MedGui Reborn\Mednafen\mednafen.exe"/>
    <add key="emulators.gambatte.path" value="E:\Emulators\Nintendo\Game Boy\gambatte\Gambatte_r550_Windows.exe"/>
    <add key="emulators.project64.path" value="C:\Program Files (x86)\Project64 2.1\Project64.exe"/>
    <add key="emulators.mame.path" value="E:\Emulators\Mame\mameplus\mamep64.exe"/>
    <add key="emulators.stella.path" value="C:\Program Files\Stella\Stella.exe"/>
    
    <add key="split.megadrive.library" value="E:\Emulators\Sega\Megadrive\Roms"/>
    <add key="split.mastersystem.library" value="E:\Emulators\Sega\Master System\Roms"/>
    <add key="split.gamegear.library" value="E:\Emulators\Sega\Game Gear\Roms"/>
    <add key="split.famicom.library" value="E:\Emulators\Nintendo\NES\Roms"/>
    <add key="split.gba.library" value="E:\Emulators\Nintendo\Game Boy Advance\Roms"/>
    <add key="split.gb.library" value="E:\Emulators\Nintendo\Game Boy\Roms"/>
    <add key="split.gbc.library" value="E:\Emulators\Nintendo\Game Boy Color\Roms"/>
    <add key="split.nintendo64.library" value="E:\Emulators\Nintendo\Nintendo 64\Roms"/>
    <add key="split.2600.library" value="E:\Emulators\Atari\2600\Roms"/>
    <add key="split.psx.library" value="E:\Emulators\Sony\PS1\isos"/>
    
    <add key="higan.superfamicom.library" value="E:\Emulators\Nintendo\SNES\higan_v094-64bit\_HiganLibrary\Super Famicom\"/>
    <add key="higan.famicom.library" value="E:\Emulators\Nintendo\SNES\higan_v094-64bit\_HiganLibrary\Famicom"/>
   
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
